body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: wheat;
  margin: 20px;
  padding: 20px;
}
.skip-links{
  list-style: none;
  margin: 0;
  padding: 0;
}
.skip-links a{
  position: absolute;
  top: -3em;
  background-color: black;
  color:white;
  padding: .5em 1em;
  font-weight: bold;
}
.skip-links a:focus{
  top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
  color: darkblue
}

container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 10px solid black;
}

nav ul{
  background-color: seashell;
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li{
  flex: 1;
  text-align: center;
}

nav ul li a{
  display: block;
  padding: 10px;
  color: palevioletred;
  text-decoration: none;
  font-size: 1.5rem;
}

nav ul li a:hover{
  text-decoration: underline;
}

.owner {
  border: 2px solid black;
  padding-left: 10px;
  background-color: seashell
}

.owner li, 
.owner p {
  color: palevioletred;
}

form input,
form textarea {
  display: block;
  width: 95%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: pink;
  border: 2px solid black;
  padding: 1rem;
  width: 100px;
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  padding: 2rem 0;
}