body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: wheat;
  margin: 20px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
  color: darkblue
}

container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 10px solid black;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
  background-color: seashell;
  border: 3px solid black
}

nav ul li {
  flex: 1;
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover, 
nav ul li a:focus {
  display: block;
  color: palevioletred;
  text-decoration: underline;
  font-size: 1.25rem;
}

form input,
form textarea {
  display: block;
  width: 95%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: pink;
  border: 2px solid black;
  padding: 1rem;
  width: 100px;
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  padding: 2rem 0;
}